name: "Deployment"

run-name: >
  ${{ github.event_name == 'workflow_dispatch' && format('Manual Deploy to {0} using {1}', github.event.inputs.environment, github.event.inputs.tag) || 'Deploy to ephemeral env' }}
on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Sem ver tag name (e.g., v1.2.3 or v1.2.3-rc.1)"
        required: true
      target:
        description: "Resource to limit plan and import if partial deployment will be done, for example, aws_api_gateway_rest_api.shared_api_gw"
        required: false

permissions:
  id-token: write
  contents: write

env:
  GITHUB_TOKEN: "${{ secrets.THIS_GITHUB_TOKEN }}"
  AWS_PROFILE_TERRAFORM_STATE: "973963482762_TerraformStateAccess"

jobs:
  prepare:
    name: Prepare
    runs-on: "ubuntu-latest"
    outputs:
      current_env: main
    steps:
      - name: Checkout
        if: github.event_name == 'workflow_dispatch'
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Validate Tag exists
        if: github.event_name == 'workflow_dispatch' && github.event.input.tag
        run: |
          if ! git rev-parse "refs/tags/${{ github.event.inputs.tag }}" >/dev/null 2>&1; then
            echo "Tag '${{ github.event.inputs.tag }}' does not exist!"
            exit 1
          fi

      - name: Validate Tag format
        if: github.event_name == 'workflow_dispatch' && github.event.input.tag
        run: |
          TAG="${{ github.event.inputs.tag }}"
          if [[ ! $TAG =~ ^v[0-9]{4}\.[0-9]{2}\.[0-9]{2}\.[0-9]{2}\.[0-9]{2}$ ]]; then
            echo "Tag $TAG is invalid. Please refer to documentation"
            exit 1
          fi

      - name: Check if tag is from base branch
        if: github.event_name == 'workflow_dispatch' && github.event.input.tag
        run: |
          TAG_COMMIT=$(git rev-list -n 1 "${{ github.event.inputs.tag }}")
          # Please adjust base branch name based on your repo:
          BASE_BRANCH=main
          git fetch origin "$BASE_BRANCH"
          if ! git merge-base --is-ancestor "$TAG_COMMIT" "origin/$BASE_BRANCH"; then
            echo "Tag '${{ github.event.inputs.tag }}' is not on the main branch!"
            exit 1
          fi

  terraform-plan:
    name: "Terraform Plan"
    needs: [prepare]
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ./
    environment: main-plan
    timeout-minutes: 5
    env:
      AWS_ROLE_TO_ASSUME: ${{ vars.AWS_ROLE_TO_ASSUME}}
      AWS_REGION: ${{ vars.AWS_REGION }}
    steps:
      - name: Configure AWS credentials from AWS account
        id: terraform-state-creds
        uses: murray-tait/gha/.github/actions/configure-aws-credentials-file@main
        with:
          role-to-assume: ${{ vars.AWS_ROLE_TO_ASSUME }}
          aws-profile: 973963482762_TerraformStateAccess
          aws-region: ${{ vars.AWS_REGION }}

      - name: Plan for deployment
        id: terraform-plan
        uses: murray-tait/gha/.github/actions/plan@main
        env:
          TF_VAR_ops_info_discord_webhook: ${{ secrets.INFO_DISCORD_WEBHOOK }}
          TF_VAR_ops_alarms_discord_webhook: ${{ secrets.ALARMS_DISCORD_WEBHOOK }}
          TF_VAR_deployment_discord_webhook: ${{ secrets.DEPLOYMENT_DISCORD_WEBHOOK }}
        with:
          checkout-ref: ${{ github.event.inputs.tag || github.sha }}
          target: ${{ github.event.inputs.target }}
          upload-plan-file: true
          deployment_environment: ${{ vars.DEPLOYMENT_ENVIRONMENT }}
          deployment-discord-webhook: ${{ secrets.DEPLOYMENT_DISCORD_WEBHOOK }}
          protected-deployment: ${{ vars.PROTECTED_DEPLOYMENT }}

  deploy:
    name: "Terraform Apply"
    needs: [prepare, terraform-plan]
    environment: main-deploy
    permissions:
      id-token: write
      contents: write
    env:
      AWS_ROLE_TO_ASSUME: ${{ vars.AWS_ROLE_TO_ASSUME}}
      AWS_REGION: ${{ vars.AWS_REGION }}

    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ./
    steps:
      - name: Configure AWS credentials from AWS account
        id: terraform-state-creds
        uses: murray-tait/gha/.github/actions/configure-aws-credentials-file@main
        with:
          role-to-assume: ${{ vars.AWS_ROLE_TO_ASSUME }}
          aws-profile: 973963482762_TerraformStateAccess
          aws-region: ${{ vars.AWS_REGION }}

      - name: Deploy
        id: terraform-deploy
        uses: murray-tait/gha/.github/actions/deploy@main
        with:
          checkout-ref: ${{ github.event.inputs.tag || github.sha }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          target: ${{ github.event.inputs.target }}
          deployment_environment: ${{ vars.DEPLOYMENT_ENVIRONMENT }}
          deployment-discord-webhook: ${{ secrets.DEPLOYMENT_DISCORD_WEBHOOK }}
